<rvw-progress-indicator [style.display]="(currentLocationLoading$ |async) ? 'block':'none'"></rvw-progress-indicator>
<mat-card [style.display]="(currentLocationLoading$ |async) ? 'none' : 'block'">
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="save()" class="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required minlength="3" />
        <mat-error *ngIf="name.invalid">{{
          getErrorMessage(name)
        }}</mat-error>
      </mat-form-field>

      <label id="type-radio-label">Type</label>
      <mat-radio-group aria-labelledby="type-radio-label" formControlName="type">
        <mat-radio-button class="example-radio-button" *ngFor="let option of typeOptions" [value]="option.value">
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="type.invalid">{{ getErrorMessage(type) }}</mat-error>

      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street" />
        <mat-error *ngIf="street.invalid">{{
          getErrorMessage(street)
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="country" formControlName="country" />
        <mat-error *ngIf="country.invalid">{{
            getErrorMessage(country)
          }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="zipCode" formControlName="zipCode" />
        <mat-error *ngIf="zipCode.invalid">{{
          getErrorMessage(zipCode)
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="city" formControlName="city" />
        <mat-error *ngIf="city.invalid">{{ getErrorMessage(city) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="longitude" formControlName="longitude" required />
        <mat-error *ngIf="longitude.invalid">{{
            getErrorMessage(longitude)
          }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="latitude" formControlName="latitude" required />
        <mat-error *ngIf="latitude.invalid">{{
              getErrorMessage(latitude)
            }}</mat-error>
      </mat-form-field>

      <div *ngIf="type.value === 'restaurant'">
        <h2>
          Timelines <button mat-flat-button type="button" (click)="addTimeline()">Add</button>
        </h2>
        <mat-tab-group formArrayName="timelines">
          <ng-template ngFor let-item [ngForOf]="timelines.controls" ; let-i="index">
            <mat-tab [label]="getTimelineTitel(item)">
              <rvw-location-edit-timeline [formControlName]="i"></rvw-location-edit-timeline>
            </mat-tab>
          </ng-template>

        </mat-tab-group>

      </div>

      <div class="button">
        <div class="spacer"></div>
        <button mat-button type="submit" [disabled]="formGroup.invalid || formGroup.pristine" color="primary">
          Submit
        </button>

        <button mat-button type="button" [disabled]="formGroup.pristine" (click)="reset()">
          Cancel
        </button>
      </div>
    </form>

    <div #gmap style="width:100%;height:400px"></div>
  </mat-card-content>
</mat-card>