<a mat-icon-button aria-label="Add new" [routerLink]="['../route/', 0]" routerLinkActive="router-link-active">
  <mat-icon>add</mat-icon>Add new
</a>
<button type="button" mat-raised-button (click)="fileInput.click()">
  Batch Create Routes
</button>
<input hidden (change)="onFileSelected()" #fileInput type="file" id="file" />

<div class="table-container">
  <table mat-table [dataSource]="data" class="table" matSort matSortActive="name" matSortDisableClear
    matSortDirection="asc">
    <!-- Number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="elevation">
      <th mat-header-cell *matHeaderCellDef>elevation</th>
      <td mat-cell *matCellDef="let row">{{ row.elevation }}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>distance</th>
      <td mat-cell *matCellDef="let row">{{ row.distance }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <a mat-icon-button aria-label="Edit" [routerLink]="['../route/', row.id]" routerLinkActive="router-link-active">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>
    <!--
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Created
      </th>
      <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>