.container {
  margin: 10px;

  > .form {
    display: flex;
    flex-direction: column;

    > * {
      width: 100%;

      &.button {
        display: flex;

        > .spacer {
          flex: 1;
        }
      }
    }
  }
}
