<mat-card>
  <mat-card-content [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="fromPicker" placeholder="From" formControlName="from" required />
        <mat-datepicker-toggle matSuffix [for]="fromPicker" tabindex=-1></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
        <mat-error *ngIf="from.invalid">{{ getErrorMessage(from) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="untilPicker" placeholder="Until" formControlName="until" />
        <mat-datepicker-toggle matSuffix [for]="untilPicker" tabindex=-1></mat-datepicker-toggle>
        <mat-datepicker #untilPicker></mat-datepicker>
        <mat-error *ngIf="until.invalid">{{ getErrorMessage(until) }}
        </mat-error>
      </mat-form-field>

      <label id="type-radio-label">Difficulty</label>
      <mat-radio-group aria-labelledby="type-radio-label" formControlName="difficulty">
        <mat-radio-button class="example-radio-button" *ngFor="let option of difficultyOptions" [value]="option.value">
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="difficulty.invalid">{{ getErrorMessage(difficulty) }}</mat-error>

      <mat-form-field>
        <input matInput type="number" placeholder="Elevation" formControlName="elevation" required />
        <mat-error *ngIf="elevation.invalid">{{      getErrorMessage(elevation)    }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Distance" formControlName="distance" required />
        <mat-error *ngIf="distance.invalid">{{
      getErrorMessage(distance)
    }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Start-Route" formControlName="startRoute" [matAutocomplete]="startRouteAuto"
          required />
        <mat-error *ngIf="startRoute.invalid">{{ getErrorMessage(startRoute) }}</mat-error>
      </mat-form-field>

      <mat-autocomplete autoActiveFirstOption #startRouteAuto="matAutocomplete" [displayWith]="displayRoute">
        <mat-option *ngFor="let option of filteredRoutes$ | async" [value]="option">{{
              displayRoute(option)
            }}</mat-option>
      </mat-autocomplete>
    </div>
  </mat-card-content>
</mat-card>