<div [formGroup]="formGroup" ngClass="container">
    <mat-form-field ngClass="field">
        <mat-label>Weekday</mat-label>
        <mat-select formControlName="weekday">
            <mat-option *ngFor="let weekday of weekdays" [value]="weekday" required>
                {{weekday}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="weekday.invalid">
            {{ getErrorMessage(weekday) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field ngClass="field">
        <input matInput [ngxTimepicker]="fromPicker" formControlName="from" [format]="24">
        <ngx-material-timepicker-toggle [for]="fromPicker" matSuffix></ngx-material-timepicker-toggle>            
        <ngx-material-timepicker #fromPicker></ngx-material-timepicker>
        <mat-error *ngIf="from.invalid">
            {{ getErrorMessage(from) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field ngClass="field">
        <input matInput [ngxTimepicker]="untilPicker" formControlName="until" [format]="24">
        <ngx-material-timepicker-toggle [for]="untilPicker" matSuffix></ngx-material-timepicker-toggle>            
        <ngx-material-timepicker #untilPicker ></ngx-material-timepicker>
        <mat-error *ngIf="until.invalid">
            {{ getErrorMessage(until) }}
        </mat-error>
    </mat-form-field>
</div>