<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="showSideNav$ | async"
  >
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSideNav(false)"
        *ngIf="(showSideNav$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      >Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" *ngIf="(isAdmin$ | async)">Admin</a>
      <a mat-list-item routerLink="/route" *ngIf="(isAuthenticated$ | async)">Route</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSideNav(true)"
        *ngIf="!(showSideNav$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span i18n="menu title">RVW - Cycling</span>
      <span class="spacer"></span>
      <div *ngIf="(isAuthenticated$ | async)">
        <button mat-button [matMenuTriggerFor]="menu" yPosition="before">
          <mat-icon
            class="example-icon"
            aria-hidden="false"
            aria-label="Example user verified icon"
            color="{{ (isAdmin$ | async) ? 'warn' : 'ascent' }}"
            >verified_user</mat-icon
          >
          {{ userName$ | async }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/current-user/profile">
            Profile
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <button
        *ngIf="!(isAuthenticated$ | async)"
        mat-flat-button
        color="primary"
        (click)="login()"
      >
        Login
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
