<form [formGroup]="formGroup" class="form">
    <label id="example-radio-group-label">Order by</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        formControlName="sortOrder">
        <mat-radio-button class="example-radio-button" *ngFor="let column of columns" [value]="column.column">
            {{ column.name }}
        </mat-radio-button>
    </mat-radio-group>

    <button mat-button type="button" (click)="exportAll()">Export</button>
</form>
<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [callbackFunction]="chartCallback"
    style="width: 100%; height: 70%; display: block;"></highcharts-chart>